<section id="add">
  <form action="/" method="post">
    <textarea name="content" placeholder="Write a task!"></textarea>
    <input type="submit" value="Write Task!">
  </form>
</section>

<% @tasks.each do |task| %>
  <article <%= 'class="complete"' if task[:completed] %>>
    <p class="links">
	  <a href="/<%= task[:id] %>/delete">&#10007;</a>
	  <a href="/<%= task[:id] %>/complete">&#10003;</a>
    </p>
	<p>
      <%= task[:task] %>
    </p>
	<p><small> created <%= task[:created] %></small></p>
	<textarea name="content" style="display:none" placeholder="<%= task[:task] %>"></textarea>
  </article>
  <p></p>
<% end %>